{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- for social media icons -->
  {% block static %}{% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'TK1_PPW/css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css' %}">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}KamiBisa{% endblock %}</title>
</head>

<body>

  <!-- header-->


  <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-expand-lg navbar-light ">
    <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
        style="color: #E2696A; margin-right:5%;">
        Bisa
      </span>
    </a>

    <div style="" class="navTulis">
      <ul class="navbar-nav">
        {% if not user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'register-kantor' %}">Register <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'this-applicants' %}">List My Applicants<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'editProfileKantor' %}">Edit Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}


      </ul>
    </div>
  </nav>
  <!-- endheader-->
  <div class="section">
    <div class="a"><img class="respImg" src="{% static 'Jobseeker/img/d.jpg' %}" width="400" height="300"></div>
    <div class="tulisan">
      <h3>Sejak pandemi Covid-19...</h3>
      <h3>Banyak orang yang kehilangan pekerjaan mereka...</h3>
      <br>
      <h3>Apakah usaha anda membutuhkan</h3>
      <h3>tenaga profesional dan terpercaya?</h3>
      <h3>
        Mari bantu mereka!</h3>
    </div>
    <a style="color: white;" href="{% url 'tambah-lowongan' %}"><button class="btn">BUKA LOWONGAN PEKERJAAN</button></a>
  </div>
<hr>
  <div class="section">
    <div class="a"><img class="respImg" src="{% static 'Jobseeker/img/b.jpg' %}" width="400" height="300"></div>
    <a href="{% url 'list-lowongan' %}"><button class="btn">List Lowongan Semua Pekerjaan</button></a>
  </div>
</body>

</html>