.grid-container {
  color: #8abcd7;
  background-color: #8abcd7;
  display: grid;
  grid-template-columns: 30% 70%;
  line-height: 60px;
}

.grid-container > #font-link-web {
  font-size: 35pt;
  color: white;
  font-weight: bold;
  padding-left: 0.3em;
  padding-top: 0.1em;
}

.link-web {
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: #e2696a;
}

.respImg {
  width: 100%;
  height: auto;
}

.index-kanan {
  text-align: right;
  padding-right: 20px;
  padding-top: 5px;
}

.index-kanan > a {
  margin-left: 20px;
  color: black;
  font-size: 30pt;
}

.section {
  margin-top: 7em;
  margin-bottom: 5em;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
}

.section > h3 {
  font-family: 'Arial';
  font-size: 19pt;
}

img {
  align-items: center;
  height: 25rem;
  width: 50rem;
}
.section > div > img {
  align-items: center;
  height: 25rem;
  width: 50rem;
}

.tulisan {
  margin-top: 2em;
  font-family: Laila;
}

.btn {
  background-color: #29c751;
  color: white;
  border-radius: 40px;
  border: #29c751;
  margin-top: 40px;
  padding: 0 5%;
  width: 50%;
  height: 5em;
  font-size: 15pt;
  font-weight: bold;
}

hr {
  margin-left: 10%;
  margin-right: 10%;
}

.a .respImg {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: Roboto;
  src: url('../font/Roboto-Regular.ttf');
}

.navTulis {
  display: flex;
  flex-direction: row-reverse;
  font-family: Roboto;
  width: 100%;
  font-weight: bolder;
}
@media only screen and (max-width: 992px) {
  .navTulis {
    flex-direction: column;
  }
}
