{% extends 'base.html' %}
{%load static%}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'story8/css/books.css' %}">
{% endblock tambahStyle %}
{% block content %}



<form action="" method="POST">

    {% csrf_token %}
    <input type="submit" />
</form>



{% endblock content %}
{% block tambahScript %}
<script src="{% static 'story8/js/index.js' %}"></script>
{% endblock tambahScript %}