{% extends 'base.html' %}
{%load static%}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'story9/css/styles.css' %}">
{% endblock tambahStyle %}
{% block content %}



{% if user.is_authenticated %}

<div style="font-family: Quicksand;" class=" justify-content-center flex align-items-center mt-4">
    <div class="flex flex-column">
        <h1>
            Welcome Back, {{ user }}!
        </h1>
        <div class="flex flex-row justify-content-around">

            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'editProfile' %}">Edit Profile</a>
        </div>

    </div>
</div>

{% endif %}

{% if not user.is_authenticated %}
<div style="font-family: Quicksand;" class="justify-content-center flex align-items-center mt-5">

    <div class="flex flex-column">
        <h1>
            Pertama login, kedua kemanusiaan yang adil dan beradab
        </h1>
        <div class="flex flex-row justify-content-around">
            <a href="{% url 'login' %}">Login</a>
        </div>

    </div>
</div>

{% endif %}





{% endblock content %}
{% block tambahScript %}
<script src="{% static 'story8/js/index.js' %}"></script>
{% endblock tambahScript %}