{% extends 'base.html' %}
{%load static%}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'story9/css/styles.css' %}">

{% endblock tambahStyle %}
{% block content %}



<div style="border: 2px solid #f4eeed;;width:50%;margin:0 auto;padding:0 20px"
    class="d-flex justify-content-center mt-5" id="containerLogin">
    <div class="d-flex justify-content-center flex-column align-items-center ">

        <form class=" align-self-center" action="" method="POST">
            {% csrf_token %}
            <h1 class="text-center">REGISTER</h1>
            {{form}}
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Jenis:</legend>
                    <br>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="typePekerjaan" id="typePekerjaan1"
                                value="Jobseeker" checked>
                            <label class="form-check-label" for="typePekerjaan1">
                                Jobseeker
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="typePekerjaan" id="typePekerjaan2"
                                value="VolPerawat">
                            <label class="form-check-label" for="typePekerjaan2">
                                Volunteer Perawat
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="typePekerjaan" id="typePekerjaan3"
                                value="VolNonPerawat">
                            <label class="form-check-label" for="typePekerjaan3">
                                Volunteer Non Perawat
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="typePekerjaan" id="typePekerjaan4"
                                value="RumahSakit">
                            <label class="form-check-label" for="typePekerjaan4">
                                Rumah Sakit
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="mt-5 d-flex justify-content-center flex-column align-items-center">
                <input style="width: 75%;" class="align-self-center btn btn-dark" type="submit" id="submitButton" />
            </div>
        </form>

        <div class="mb-5">
            <span style="font-size: .8em;"><a href="/login">Have an account?
                </a>
            </span>

        </div>
        {% if form.errors %}
        <div class="error">
            <p><span>Terjadi kesalahan!</span></p>
            <ul>
                {% for key,value in form.errors.items %} {% for error in value %}
                <li>{{ error }}</li>
                {% endfor %} {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>



</div>

</div>





{% endblock content %}
{% block tambahScript %}
<script src="{% static 'story8/js/index.js' %}"></script>
{% endblock tambahScript %}