{% extends 'RumahSakit/base.html' %} {% load static %} {% block content %}
<title>KamiBisa - Edit Profil Rumah Sakit</title>
<div>
    <img src="{% static 'RumahSakit/rs.jpg' %}" alt="" class="bg">
    <div class="formFlex">
        <div class="cardd">
            <div style="background-color: #f6f6f6;" class="containerr">
                <div>
                    <h1 class="textJudul">Edit Profil Rumah Sakit</h1>
                </div>
                <div style="font-family:Roboto" class="formnya">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {{RSform.nama.label_tag}}
                            {{RSform.nama}}
                        </div>
                        <div class="form-group">
                            {{RSform.alamat.label_tag}}
                            {{RSform.alamat}}
                        </div>
                        <label for="exampleFormControlInput1" class="label">Jumlah Relawan Perawat yang Dibutuhkan</label>
                        <input class="form-control mr-1 sks-input" id = "prwt" type="number" min = 0 name="jml_prwt" required>
                        <br>
                        <label for="exampleFormControlInput1" class="label">Jumlah Relawan Perawat yang Dibutuhkan</label>
                        <input class="form-control mr-1 sks-input" id = "non" type="number" min = 0 name="jml_non" required>
                        <button id="btnEdit" type="submit">Submit</button>
                    </form>
                </div>
                <br><br><br><br><br>
            </div>
        </div>
    </div>
</div>

<div class="alert success flex align-items-center justify-content-center">
    <span class="closebtn">&times;</span>
    <strong>Profil anda berhasil diubah</strong>
</div>
{% endblock %}