{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Jobseeker/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">
</head>

<body>

    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-light navbar-expand ">
        <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
                style="color: #E2696A; margin-right:5%;">
                Bisa
            </span>
        </a>
    </nav>
    <div>
        <img src="{% static 'Jobseeker/img/bg_kerja.jpg' %}" alt="" class="bg">

        <div class="formFlex">
            <div class="cardd">
                <div style="background-color: #f6f6f6;" class="containerr">
                    <div>
                        {% if status == 'ditemukan' %}

                        <h1 class="textJudul">Edit profil kamu!</h1>
                        {% else %}
                        <h1 class="textJudul">Lengkapi profil kamu!</h1>
                        {% endif %}

                    </div>
                    <div style="font-family:Roboto" class="formnya">
                        <form method="">
                            {%csrf_token%}
                            <div class="form-group">
                                <label for="id_nama_pelamar">Nama:</label>
                                <input type="text" name="nama_pelamar" value="{{user}}" class="form-control"
                                    maxlength="64" readonly required id="id_nama_pelamar">
                            </div>
                            <div class="form-group">
                                {{form.umur_pelamar.label_tag}}
                                {{form.umur_pelamar}}
                            </div>
                            <div class="form-group">
                                <label for="provinsi_pelamar">Asal Provinsi:</label>
                                <br>
                                <!-- {{nomor_prov}} -->
                                <select id="provinsi_pelamar" name="provinsi_pelamar" class="form-control">
                                    {% for provinsi in listProvinsi %}
                                    <!-- {{forloop.counter}} -->
                                    {% if nomor_prov == forloop.counter%}

                                    <option id="prov{{forloop.counter}}" value="{{forloop.counter}}" selected>
                                        {{provinsi}}</option>
                                    {% else %}
                                    <option id="prov{{forloop.counter}}" value="{{forloop.counter}}">{{provinsi}}
                                    </option>

                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group autocomplete">
                                {{form.kota_pelamar.label_tag}}
                                {{form.kota_pelamar}}
                            </div>
                            <div class="form-group">
                                <div style="display: flex; margin:2px">
                                    {{form.pendidikan_terakhir.label_tag}}
                                    <div style="display: flex; flex-direction:column; margin-left:2%;">
                                        {% for type in form.pendidikan_terakhir %}
                                        <div class="form-group-input">
                                            {{type.tag}}
                                            <label for="{{type.id_for_label}}">
                                                {{type.choice_label}}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- <button id="btnJobseeker" type="submit">Submit</button> -->
                        </form>
                        <input type="submit" value="Submit" id="btnJobseeker">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" alert success flex align-items-center justify-content-center">
        <span class="closebtn">&times;</span>
        <strong>Berhasil!</strong>
        <p id="umur_pelamar_conf">Umur pelamar: </p>
        <p id="kota_pelamar_conf">Kota pelamar: </p>
        <p id="provinsi_pelamar_conf">Provinsi pelamar: </p>
        <p id="last_ed_conf">Last ed: </p>

    </div>
</body>
<script src="{% static 'vendor/jquery/jquery.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="{% static 'Jobseeker/js/Jobseeker.js' %}">
</script>
<script>
    $(document).ready(function () {
        $('.closebtn').on('click', function () {
            window.location = '/';
        })
    });
</script>

</html>