{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KamiBisa - List Lowongan Pekerjaan</title>
    <link rel="stylesheet" href="{% static 'Kantor/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css'%}">
</head>

<body>
    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-light navbar-expand ">
        <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
                style="color: #E2696A; margin-right:5%;">
                Bisa
            </span>
        </a>
    </nav>
    <div>
        <h1 style="color: black;text-align:center;">Pekerjaan yang telah {{user}} lamar</h1>
    </div>
    <div style="width: 95vw; margin-bottom:100px" class=" d-flex flex-row-reverse navku ">
        <div class="d-flex flex-column bg-blue-400">
            <button style="background-color: rgb(255, 255, 255);" id="btnNav">
                <span>All<i class="fa fa-angle-down"></i></span>
            </button>
            <div style="background-color: rgba(0, 0, 0, 0.582); color:white" class="isiNav flex flex-col ">
                <div>

                    <a id="reset" style="color: white;" href="#">
                        All
                    </a>
                </div>
                <div>

                    <a id="fTime" style="color: white;" href="#">
                        Full-time
                    </a>
                </div>
                <div>
                    <a id="pTime" style="color: white;" href="#">
                        Part-time
                    </a>
                </div>
                <div>
                    <a id="intern" style="color: white;" href="#">
                        Internship
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="table">
        <table style="font-family: Kanit;width: 100%;">
            <tr style="text-align:center;">
                <th>Nama Pekerjaan</th>
                <th>Alamat</th>
                <th>Tipe Pekerjaan</th>
                <th>Tersedia Sejak</th>
            </tr>

            {% for pekerjaan in pekerjaans %}
            <tr style="text-align: center;" class=" text-sm-center">
                <td>
                    <a class="link-web" href="{% url 'detail-lowongan' pekerjaan.pk %}">
                        <p style="color: blue;">{{ pekerjaan.nama_pekerjaan }}</p>
                    </a>
                </td>
                <td>{{ pekerjaan.alamat }} </td>
                <td>{{ pekerjaan.tipe_pekerjaan }} </td>
                <td>{{ pekerjaan.tersedia_sejak }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    </div>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#btnNav').click(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active')
                $('.isiNav').slideUp();

            } else {
                $(this).addClass('active')
                $('.isiNav').slideDown();
            }
        })


        $('#fTime').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '/Jobseeker/listDilamar/ajaxFtime',
                success: function (response) {
                    let data = JSON.parse(response)
                    $('.table').empty()
                    let x = "<table style='font-family: Kanit;width: 100%;'>" + "<tr style = 'text-align:center;'>"
                        + "<th> Nama Pekerjaan</th>" +
                        '<th>Alamat</th>' +
                        '<th>Tipe Pekerjaan</th>'
                    '<th>Tersedia Sejak</th>'
                        + "</tr> "
                    for (let i = 0; i < data.length; i++) {
                        let temp = data[i].pk
                        x += '<tr style="text-align: center;" class=" text-sm-center">' + '<td> ' +
                            '<p style="color: blue;">' + data[i].fields.nama_pekerjaan + '</p></a></td>' +
                            '<td>' + data[i].fields.alamat + ' </td>' +
                            '<td>' + data[i].fields.tipe_pekerjaan + ' </td>' +
                            '</tr>'
                    }
                    $('.table').append(x)
                    $('#btnNav').text('Full-Time')
                }
            })
        })

        $('#intern').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '/Jobseeker/listDilamar/ajaxIntern',
                success: function (response) {
                    let data = JSON.parse(response)
                    $('.table').empty()
                    let x = "<table style='font-family: Kanit;width: 100%;'>" + "<tr style = 'text-align:center;'>"
                        + "<th> Nama Pekerjaan</th>" +
                        '<th>Alamat</th>' +
                        '<th>Tipe Pekerjaan</th>'
                    '<th>Tersedia Sejak</th>'
                        + "</tr> "
                    for (let i = 0; i < data.length; i++) {
                        let temp = data[i].pk
                        x += '<tr style="text-align: center;" class=" text-sm-center">' + '<td> ' +
                            '<p style="color: blue;">' + data[i].fields.nama_pekerjaan + '</p></a></td>' +
                            '<td>' + data[i].fields.alamat + ' </td>' +
                            '<td>' + data[i].fields.tipe_pekerjaan + ' </td>' +
                            '</tr>'
                    }
                    $('.table').append(x)
                    $('#btnNav').text('Internship')

                }
            })
        })

        $('#pTime').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '/Jobseeker/listDilamar/ajaxPtime',
                success: function (response) {
                    let data = JSON.parse(response)
                    $('.table').empty()
                    let x = "<table style='font-family: Kanit;width: 100%;'>" + "<tr style = 'text-align:center;'>"
                        + "<th> Nama Pekerjaan</th>" +
                        '<th>Alamat</th>' +
                        '<th>Tipe Pekerjaan</th>'
                    '<th>Tersedia Sejak</th>'
                        + "</tr> "
                    for (let i = 0; i < data.length; i++) {
                        let temp = data[i].pk
                        x += '<tr style="text-align: center;" class=" text-sm-center">' + '<td> ' +
                            '<p style="color: blue;">' + data[i].fields.nama_pekerjaan + '</p></a></td>' +
                            '<td>' + data[i].fields.alamat + ' </td>' +
                            '<td>' + data[i].fields.tipe_pekerjaan + ' </td>' +
                            '</tr>'
                    }
                    $('.table').append(x)
                    $('#btnNav').text('Part-time')

                }
            })
        })

        $('#reset').on('click', function () {

            window.location = '/Jobseeker/listDilamar'
        })
    });



</script>

</html>