{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Jobseeker/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">
</head>
<nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-light navbar-expand ">
    <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
            style="color: #E2696A; margin-right:5%;">
            Bisa
        </span>
    </a>
</nav>
<form style="display: none;" method="">
    {%csrf_token%}
</form>

<body style="background-color: rgba(245, 245, 245, 0.712);">
    <div style="border: 1px solid black;width:50%;margin:0 auto;" class="mt-4 shadow p-3 mb-5 bg-white rounded">

        <div class=" mt-5 text-center">
            <h1 style="font-size: medium;">Apakah anda yakin ingin melamar sebagai {{pekerjaan.nama_pekerjaan}}? </h1>
        </div>
        <div style="display:flex;margin:0 auto" class="align-items-center justify-content-between w-50 mt-3">
            <a id="yesButton" data-ajax="{{user}}" data-toggle="modal" data-target="#exampleModalCenter">
                <button style="width: 250%;" class='mb-5 btnJobseeker'>Ya</button>
            </a>
            <a href="{% url 'list-lowongan' %}">
                <button style="background-color: red;" class="mb-5 btnJobseeker ">Tidak</button>
            </a>
        </div>
    </div>
</body>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 id="namatoadd">Selamat </h2>
                <h3>Berhasil melamar sebagai {{pekerjaan.nama_pekerjaan}}</h3>
            </div>

        </div>
    </div>
</div>
<script src="{% static 'vendor/jquery/jquery.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#yesButton').on('click', function () {
            $.ajax({
                type: 'POST',
                data: {
                    user_login: $(this).attr('data-ajax'),
                    csrfmiddlewaretoken: $('input[name = csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    let a = JSON.parse(response)

                    $('#namatoadd').append(a[0].fields.nama_pelamar)
                }
            })

        })
        $('.close').on('click', function () {
            window.location = '/'
        })
    });
</script>

</html>