{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KamiBisa - Buat Lowongan Pekerjaan</title>
    <link rel="stylesheet" href="{% static 'Kantor/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">

    <link rel="stylesheet" href="{% static 'css/basic.css'%}">
</head>

<body>
    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-expand-lg navbar-light ">
        <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
                style="color: #E2696A; margin-right:5%;">
                Bisa
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
    </nav>
    <div>

        <img src="{% static 'Kantor/img/bg-kantor.jpg' %}" alt="" class="bg">
        <div style="font-family: Kanit;" class="formFlex">
            <div class="cardd">
                <div style="background-color: #f6f6f6;" class="containerr">
                    <div>
                        <h1 class="textJudul">Membuat Lowongan Pekerjaan di Kamibisa</h1>
                    </div>
                    <div style="font-family:Roboto" class="formnya">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.nama_pekerjaan.label_tag}}
                                {{form.nama_pekerjaan}}
                            </div>
                            <div class="form-group">
                                {{form.alamat.label_tag}}
                                {{form.alamat}}
                            </div>
                            <div class="form-group">
                                {{form.tipe_pekerjaan.label_tag}}
                                <br>
                                {% for type in form.tipe_pekerjaan %}
                                <div class="form-group-input">
                                    {{type.tag}}
                                    <label for="{{type.id_for_label}}">
                                        {{type.choice_label}}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                {{form.desc.label_tag}}
                                <br>

                                {{ form.desc }}
                            </div>

                            <button id="btnJobseeker" type="submit">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>