{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pekerjaan.nama_pekerjaan }}</title>
    <link rel="stylesheet" href="{% static 'Kantor/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">

    <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css'%}">
</head>

<body>
    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-light navbar-expand ">
        <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
                style="color: #E2696A; margin-right:5%;">
                Bisa
            </span>
        </a>
    </nav>



    <div class="d-flex flex-column">
        <h1 style="text-align: center;font-family:Righteous;margin-top:60px;font-size:200%;">
            {{ pekerjaan.nama_pekerjaan }}</h1>
        {% if sudahDilamar == "yes" %}
        <div style="margin: 0 auto;">
            <a href="#"><button disabled="true" id="btnJobseeker2" type="submit">Applied</button></a>
        </div>

        {% endif %}
    </div>


    <div style=" width:75%;margin:0 auto;font-family: Righteous;font-size:85%" class="flex-column">
        <div class="">
            <h4 style="display: inline;">
                Deskripsi:
            </h4>
            <div style="font-family:Kanit;font-weight:20;">
                {{ pekerjaan.deskripsi_kantor }}
            </div>
        </div>
        <div style="margin-top: 30px;" class="text-black-50">
            <h4 style="display: inline;">
                Alamat:
            </h4>
            <div style="font-family:Kanit">
                {{ pekerjaan.alamat }}
            </div>
        </div>
    </div>




    <div style="
            margin-top: 7em;
            margin-bottom: 5em;
            padding-right:  10%;
            padding-left:  10%;
            text-align: center;
            color: black;">
        <!-- buat daftar pekerjaan sama list pekerjaan -->
        {% if is_JobSeeker and pekerjaan.closed_status == False %}
        {% if not sudahDilamar == "yes" %}
        <a href="{% url 'daftar' job_id=pekerjaan.pk %}" style="margin-right: 10%;"><button id="btnJobseeker"
                type="submit">Apply</button></a>
        {%endif%}
        {% endif %}

        {% if is_Kantor and pekerjaan.Kantor.user == user %}
        {% if pekerjaan.closed_status == False %}
        <a href="{% url 'closed-lowongan' pekerjaan.pk %}" style="margin-right: 10%;"><button id="btnJobseeker"
                type="submit">Tutup Lowongan Ini</button></a>
        {% else %}
        <button style="background-color:red;" id="btnListApplicant" type="submit">Anda sudah menutup lowongan
            ini!</button>
        {% endif %}
        <a href="{% url 'list-of-applicants' job_id=pekerjaan.pk %}"><button id="btnListApplicant" type="submit">List Of
                Applicants</button></a>
        {% endif %}
    </div>




</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>