{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KamiBisa - List Lowongan Pekerjaan</title>
    <link rel="stylesheet" href="{% static 'Jobseeker/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">

    <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css'%}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body>
    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-light navbar-expand ">
        <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
                style="color: #E2696A; margin-right:5%;">
                Bisa
            </span>
        </a>
    </nav>
    <div>
        {% if is_Kantor %}
            <h1 style="color: black;" class="textJudul">List Semua Pekerjaaan</h1>
        {% else %}
            <h1 style="color: black;" class="textJudul">Pilih Pekerjaan Yang Cocok Denganmu</h1>
        {% endif %}
    </div>

    <div class="win-sm d-sm-flex mb-4" style="margin-left:20%; margin-right:20%;">
    <input type="text" name="q" class="form-control" placeholder="Cari Nama Pekerjaan...">
    <button class="btn-primary" id="search">Cari</button>
    </div>

    <div class="table">
        <table style="font-family: Kanit;width: 100%;">
        <thead>
            <tr style="text-align:center;">
                <th>Nama Pekerjaan</th>
                <th>Alamat</th>
                <th>Tipe Pekerjaan</th>
                <th>Tersedia Sejak</th>
            </tr>
        </thead>
        <tbody id="listPekerjaan">
            {% for pekerjaan in pekerjaans %}
            {% if pekerjaan.closed_status == False %}
            <tr style="text-align: center;" class="text-sm-center">
                <td class="link-kantor">
                    <a class="link-web" href="{% url 'detail-lowongan' pekerjaan.pk %}">
                        <p style="color: blue;">{{ pekerjaan.nama_pekerjaan }}</p>
                    </a>
                </td>
                <td>{{ pekerjaan.alamat }} </td>
                <td>{{ pekerjaan.tipe_pekerjaan }} </td>
                <td>{{ pekerjaan.tersedia_sejak }}</td>
            </tr>

            <tr class='ovrly'>
                <td colspan="2">
                <div style="background-color:#8abcd7;
                text-align:left;">
                <table class="table-ovrly">
                    <tr>
                        <td colspan="2"><b>Penyedia</b></td>
                    </tr>
                    <tr>
                        <td>Perusahaan</td>
                        <td>: {{ pekerjaan.Kantor }}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>: {{ pekerjaan.Kantor.alamat }}</td>
                    </tr>
                    <tr>
                        <td>Deskripsi:</td>
                        <td>:</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ pekerjaan.Kantor.deskripsi_kantor }}</td>
                    </tr>
                </table>
                   
                </div>
                </td>
                
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>

    </div>

    </div>
    
<script type="text/javascript" src="{% static 'Kantor/js/script.js'%}"></script>
</body>
<!-- 
Script js buat pop up
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>