{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KamiBisa - List Lowongan Pekerjaan</title>
    <link rel="stylesheet" href="{% static 'Jobseeker/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">

    <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css'%}">
</head>

<body>
    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-light navbar-expand ">
        <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
                style="color: #E2696A; margin-right:5%;">
                Bisa
            </span>
        </a>
    </nav>
    <div>
        <h1 style="color: black;" class="textJudul">Jenis Pekerjaan dari Kantor ini</h1>
    </div>
    <div class="table">
        <table style="font-family: Kanit;width: 100%;">
            <tr style="text-align:center;">
                <th>Nama Pekerjaan</th>
                <th>Alamat</th>
                <th>Tipe Pekerjaan</th>
                <th>Tersedia Sejak</th>
                <th>Status</th>
            </tr>
            {% for pekerjaan in pekerjaans %}
            <tr style="text-align: center;" class=" text-sm-center">
                <td>
                    <a class="link-web" href="{% url 'detail-lowongan' pekerjaan.pk %}">
                        <p style="color: blue;">{{ pekerjaan.nama_pekerjaan }}</p>
                    </a>
                </td>
                <td>{{ pekerjaan.alamat }} </td>
                <td>{{ pekerjaan.tipe_pekerjaan }} </td>
                <td>{{ pekerjaan.tersedia_sejak }}</td>
                
                {% if pekerjaan.closed_status == False %}
                <td style="color:green;">Dibuka</td>
                {% else %}
                <td style="color:red;">Sudah Ditutup</td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
    </div>

    </div>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>