
body {
    padding: 0;
    margin: 0;
    width: 100vw;
}
section.form {
    border: solid 1px black;
    background: #F6F6F6;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 4rem;
}
section.form form {
    display: flex;
    flex-flow: column wrap;
    margin-left: 3rem;
    margin-right: 3rem;
}
section.form form label.header {
    margin-top: 2.5rem; 
    font-family: 'Kanit', sans-serif;
    font-size: 2rem; 
    font-weight: bold; 
    color: #27be4d;
}
section.form form div.content {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10rem;
}
section.form form div.content div {
    display: flex;
    flex-flow: column wrap;
}
section.form form div.content div .body {
    font-family: Roboto; 
    font-size: 1.5rem; 
    font-weight: regular; 
    color: black;
}
section.form form div.content div.left-side {
    width: 18.25rem;
}
section.form form div.content div.left-side #no_telp-box{
    width: 12rem;
}
section.form form div.content div.right-side {
    margin-left: 8.5rem;
    width: 30rem;
}
section.form form div.content div.right-side #submit.body {
    margin-top: 1rem;
    background: #20AA43;
    border: 0;
    border-radius: 1.5rem;
    font-family: 'Kanit', sans-serif;
    color: #F2F2F2;
    width: 10rem;
    height: 2.25rem;
    padding: 0;
}
section.form form div.content div.right-side .desc-box{
    width: 27.5rem;
    height: 5rem;
}