<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>KamiBisa</title>
        <link rel="stylesheet" href="{% static 'TK1_PPW/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css'%}">
        <link rel="stylesheet" href="{% static 'VolunteerNonPerawat/css/style.css'%}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Roboto&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'VolunteerNonPerawat/js/script.js'%}"></script>
    </head>
    <body>
        <!-- header-->
        <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-expand-lg navbar-light ">
            <a style="font-size: 200%; color: #000000" class="navbar-brand text-lg-center" href="/">
                Kami<span style="color: #EB5757; margin-right:5%;">bisa</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="font-size: 200%;">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>
        <!-- endheader-->

        {% if messages %}
            {% for message in messages %}
                {% if messages.tags == error %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% else %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <section class="form">
            <form method="POST">
                {% csrf_token %}
                <label class="header">Daftar Menjadi Relawan Sekarang!</label>
                {% if vnp_already_exists == False %}
                    <div class="content">
                        <div class="left-side">
                            <label class="body">Nama:</label>
                            <input type="text" name="nama" maxlength="100" required>
                            <label class="body">Umur:</label>
                            <input type="number" name="umur" min="17" max="55" required>
                            <label class="body">Email:</label>
                            <input type="email" name="email" maxlength="100" required>
                            <label class="body">Asal Provinsi:</label>
                            <select name="provinsi">
                                <option value selected>------------</option>
                                {% for provinsi in listProvinsi %}
                                <option value="{{forloop.counter}}">{{provinsi}}</option>
                                {% endfor %}
                            </select>
                            <label class="body">Asal Kota:</label>
                            <input type="text" name="kota" maxlength="50" required>
                            <label class="body">No Telp:</label>
                            <input id="no_telp-box" type="text" required>
                            <label class="body">No Telp yang akan teregister dalam sistem:</label>
                            <input id="no_telp-box" type="text" name="no_telp" class="registered_phonenum" readonly>
                        </div>
                        <div class="right-side">
                            <span class="body">Ceritakan pengalaman Anda sebelumnya dalam menjadi relawan:</span>
                            <span class="body"></span>
                            <input class="desc-box" type="text" name="pengalaman" required>
                            <span class="body">Alasan ingin menjadi relawan:</span>
                            <input class="desc-box" type="text" name="alasan" required>
                            <button type="submit" class="body" id="submit">Daftar</button>
                        </div>
                    </div>
                {% else %}
                    <div class="content">
                        <div class="right-side" style="margin-left: 0;">
                            <input type="hidden" name="nama" value={{ vnp.nama }}>
                            <input type="hidden" name="umur" value={{ vnp.umur }}>
                            <input type="hidden" name="email" value={{ vnp.email }}>
                            <input type="hidden" name="provinsi" value={{ vnp.provinsi }}>
                            <input type="hidden" name="kota" value={{ vnp.kota }}>
                            <input type="hidden" name="no_telp" value={{ vnp.no_telp }}>
                            <span class="body">Ceritakan pengalaman Anda sebelumnya dalam menjadi relawan:</span>
                            <span class="body"></span>
                            <input class="desc-box" type="text" name="pengalaman" required>
                            <span class="body">Alasan ingin menjadi relawan:</span>
                            <input class="desc-box" type="text" name="alasan" required>
                            <button type="submit" class="body" id="submit">Daftar</button>
                        </div>
                    </div>
                {% endif %}
            </form>
        </section>
    </body>
</html>