{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Jobseeker/css/Jobseeker.css'%}">
    <link rel="stylesheet" href="{% static 'Jobseeker/css/bootstrap.css'%}">


</head>

<body>

<nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-light navbar-expand ">
    <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
            style="color: #E2696A; margin-right:5%;">
            Bisa
        </span>
    </a>
</nav>

<div>
<img src="{% static 'Kantor/img/bg-kantor.jpg' %}" alt="" class="bg">

<div class="formFlex">
    <div class="cardd">
        <div style="background-color: #f6f6f6;" class="containerr">
            <div>
            	<h1 id="judul-perusahaan" class="textJudul">Edit profil perusahaan <b>{{ kantor }}</b>!</h1>
            </div>
            <div style="font-family:Roboto" class="formnya">
                <form method="post">
                    {%csrf_token%}
                    <div class="form-group">
                        {{form.nama_perusahaan.label_tag}}
                        {{form.nama_perusahaan}}
                    </div>
                    <div class="form-group">
                        {{form.alamat.label_tag}}
                        {{form.alamat}}
                    </div>
                    <div class="form-group">
                        {{form.desc.label_tag}}
                        {{form.desc}}
                    </div>
                </form>
                <input type="submit" value="Update" id="btnJobseeker">
            </div>
        </div>
    </div>
</div>
</div>

<div class="alert success flex align-items-center justify-content-center">
    <span class="closebtn">&times;</span>
    <strong>Sukses ubah data!</strong>
</div>
</body>
<script src="{% static 'vendor/jquery/jquery.js'%}"></script>
<script src="{% static 'Kantor/js/edit-model.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



</html>