<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>KamiBisa</title>
        <link rel="stylesheet" href="{% static 'TK1_PPW/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css'%}">
        <link rel="stylesheet" href="{% static 'TK1_PPW/css/daftar_relawan.css'%}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- header-->
        <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-expand-lg navbar-light ">
            <a style="font-size: 200%; color: #000000" class="navbar-brand text-lg-center" href="/">
                Kami<span style="color: #EB5757; margin-right:5%;">bisa</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="font-size: 200%;">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>
        <!-- endheader-->
        <section class="choose_hospital">
            <span class="header">Pilih Rumah Sakit Yang Ingin Dibantu</span>
            <div class="content">
                <div>
                    <span class="column" id="header">Nama Rumah Sakit</span>
                    <span class="column" id="header">Alamat</span>
                    <span class="column" id="slot">
                        <span class="top">Slot</span>
                        <span>Perawat</span>
                    </span>
                    <span class="column" id="slot">
                        <span class="top2">Slot</span>
                        <span>Non Perawat</span>
                    </span>
                </div>
                {% if rs_list %}
                {% for rs in rs_list %}
                <div>
                    {% comment %} <a href="{{ rs.id }}/" class="column">{{ rs.nama }}</a> {% endcomment %}
                    <a href="RumahSakit/{{ rs.id }}/" class="column">{{ rs.nama }}</a>
                    <span class="column">{{ rs.alamat }}</span>
                    <span class="column">{{ rs.jml_prwt }}</span>
                    <span class="column">{{ rs.jml_non }}</span>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% comment %} <div class="content">
                <span class="column">Nama Rumah Sakit</span>
                <span class="column">Alamat</span>
                <div class="slot">
                    <span class="column" id="header">Slot</span>
                    <span class="column">Perawat</span>
                </div>
                <div class="slot">
                    <span class="column" id="header2">Slot</span>
                    <span class="column">Non Perawat</span>
                </div>
            </div> {% endcomment %}
        </section>
    </body>
</html>