{% load static %}

<!DOCTYPE html>
<html>

<head>
    <!-- for social media icons -->
    {% block static %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'TK1_PPW/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'TK1_PPW/css/basic.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}KamiBisa{% endblock %}</title>
</head>

<body>

    <!-- header-->


    <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-expand-lg navbar-light ">
        <a style="font-size: 200%;" class="navbar-brand text-lg-center" href="/">Kami <span
                style="color: #E2696A; margin-right:5%;">
                Bisa
            </span>
        </a>

        <div style="" class="navTulis">
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'editProfile' %}">Edit Profile <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}


            </ul>
        </div>
    </nav>
    <!-- endheader-->
    <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column ">
            <h1 style=" font-size:1em" class="mt-5">
                Anda tidak memiliki akses! hanya bisa diakses oleh {{allowed}}
            </h1>
            <div class="d-flex align-items-center justify-content-center">

                <a class="nav-link" href="{% url 'registerLogout' %}">Register disini!<span
                        class="sr-only">(current)</span></a>
            </div>

        </div>


    </div>
</body>

</html>