{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
    <title> {{ page_title }} </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <body>
        <nav style="background-color: #0077B650; font-family:Roboto" class="navbar navbar-expand-lg navbar-light ">
            <a style="font-size: 200%; color: #000000" class="navbar-brand text-lg-center" href="/">
                Kami<span style="color: #EB5757; margin-right:5%;">bisa</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="font-size: 200%;">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>

        <div class='container' style = 'margin-left : auto; margin-right : auto; margin-top : 5em; margin-bottom : 4em; border: solid 1px black; background: #F6F6F6;'>
            <h1 class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style = 'color : green; padding-top : 1em;'>Daftar Menjadi Relawan Sekarang! </h1>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 center" style = 'padding-top : 1em; padding-bottom : 1em;'>
                <form method = "POST" autocomplete="off">
                    {% csrf_token %}
                    {% if alr %}
                    
                    <input type="hidden" name="nama" value=  {{ obj.nama }} >                 
                    <input type="hidden" name="umur" value= {{ obj.umur }}  >                   
                    <input type="hidden" name="email" value= {{ obj.email }} > 
                    <input type="hidden" name="provinsi" value= {{ obj.provinsi }} >                  
                    <input type="hidden" name="kota" value= {{ obj.kota }} >                      
                    <input type="hidden" name="no_telp" value= {{ obj.no_telp }} >
                        
                    <div id="div_id_pengalaman" class="control-group"> 
                        <label for="id_pengalaman" class="control-label requiredField">
                        Ceritakan pengalaman Anda dalam bidang keperawatan:<span class="asteriskField">*</span> </label> 
                        <div class="controls">
                            <textarea name="pengalaman" cols="40" rows="10" class="form-control form-control-sm textarea" required="" id="id_pengalaman"></textarea>
                        </div> 
                    </div>
                    <div id="div_id_alasan" class="control-group"> 
                        <label for="id_alasan" class="control-label requiredField">
                        Alasan ingin menjadi relawan:<span class="asteriskField">*</span> </label> 
                        <div class="controls"> 
                            <textarea name="alasan" cols="40" rows="10" class="form-control form-control-sm textarea" required="" id="id_alasan"></textarea> 
                        </div> 
                    </div>
                    
                    {% else %}
                    {{ form|crispy }}
                    {% endif %}
                    <br>
                    <input class="btn btn-success" type="submit" value="Daftar"> 
                </form>
            </div>
        </div>
        <script src= "{% static 'js/isi.js' %}">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    </body>